body {
    text-align: center;
    background-color: #4bbce9;
    font: Comic-Sans;
}

/* #card_div {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding: 10px;
} */
